<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" type="File" fileName="${basedir}/log.txt" layout="${longdate} ${message}"/>
    <target name="console" type="Console" layout="${longdate} ${message}"/>
  </targets>

  <rules>
    <logger name="log" minLevel="Trace" writeTo="console, file" />
  </rules>
</nlog>