@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #fff;
}

.container-fluid,
.row-fluid,
app {
    height: inherit;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

#toolbar {
    height: 5%;
}

#graph {
    height: 90%;
}
