@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

body {
    font-size: 0.8rem;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #fff;
}

h1 {
    text-align: center;
    font-size: 1rem;
}

h3 {
    font-size: 1rem;
}

#sources {
    font-size: smaller;
    list-style: none;
    padding-left: 0;
}

/*.container-fluid,
.row-fluid,
app {
    height: inherit;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}*/

/*#toolbar {
    height: 5%;
}

#graph {
    height: 90%;
}*/
