@inherits PropertyPrices.Charts.Shared.AnalysisBase

    <div id="analysis" style="display:none">
        <div class="article bg-light">
            <button type="button" class="close" aria-label="Close" @onclick="@Hide">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4>Forecast Analysis – Average Prices % Change 2019 – 2029</h4>

            <div class="twoColumns">
                <p>
                    Perhaps the most striking finding that is immediately
                    apparent is that we are able to forecast a property market crash which will likely
                    reach its nadir in about 2022. This event is essentially limited to the City of
                    London, from which we can make several inferences. It is essential first of
                    all, not to put aside the possible vagaries of the prediction model in this single
                    case, as the errant population and land mass of the Square Mile may have
                    resulted in an anomalous forecast result.
                </p>

                <p>
                    A more generous interpretation however, would be that the
                    Brexit process and associated political fracas have already taken such a toll
                    on business confidence that the tenants and owners of commercial property in
                    the City have already commenced relocation strategies in order to stay within
                    the EU and avoid the post-Brexit turmoil. It is clear that the replacement rate
                    of new tenants is already not sufficient to maintain a consistently rising
                    level of demand, and from this we see the early precipitation of a property
                    crash.
                </p>

                <p>
                    A further 50% will be wiped off of the average value of property
                    in the Square Mile within the next 3 years and over the next decade; it will
                    fail to recover a relative level of growth compared to other areas of London.
                    It does appear the international reputation of one of the world’s oldest and
                    grandest financial centres has been irrevocably tarnished.
                </p>

                <p>
                    The market for commercial property in London is remarkably
                    liquid compared to that for residential. A glance at the various slumps
                    undergone within the City that coincided with the economic crises in 2008 and
                    2001 might be sufficient to confirm such a tendency. We might indeed go further
                    and speculate that there exists a strong correlation between more general
                    economic measures (such as GDP) and demand for office space within London’s
                    most expensive zone. It is important to stop short of drawing such a simple
                    correlation relationship between growth of the UK economy and growth of
                    property prices in the City of London, nevertheless there is already a widely accepted
                    case for the latter being a reliable bellwether of the former.
                </p>

                <p>
                    Turning our attention then to trends in residential
                    forecasts, the frontrunner of the most recent upturn in demand appears to be in
                    for a painful landing. Ironic then that this is the fate of one on London’s
                    most painfully fashionable boroughs: Camden. The fashion and style centre has
                    outpaced all other regions during 2019 however, there appears to be a minor
                    correction due in the form of negligible growth between 2022 that will continue
                    at least into the second half of 2024.
                </p>

                <p>
                    Furthermore, it is poignant to juxtapose the fates of the
                    young-at-heart and formerly hip to that of those over-burdened by affluence.
                    The growth rate for London’s most expensive residential area, Kensington and
                    Chelsea, will continue its unstoppable and unerring course in order to achieve
                    an essentially linear growth rate of 61% in value over the next decade. Clearly,
                    the lofty peaks still enjoy pristine isolation from the tumultuous avalanches
                    below.
                </p>

                <p>
                    What then, might be in store for residents and owners at the
                    other end of the economic spectrum, in London’s notoriously depressed areas?
                    Many under-informed mouthpieces have foretold borough after borough that might
                    share in the miraculous turn-around in fortunes that has been enjoyed in recent
                    memory by formerly poverty-stricken areas such as Islington. Any prognosticator
                    that foretells such a reversal for Croydon appears to have misread the signs.
                    This hotbed of crime and faltering productivity will fail to ignite the renewing
                    flame of gentrification over the next 5 years and the area will in fact enter a
                    modest slump. Perhaps it is too reckless to tie this to the aforementioned signals
                    of an economic contraction, although such an outcome would surprise few: the
                    very poorest areas often suffer disproportionately from the tightening of
                    all-too-modest incomes and opportunities during a downturn. Wily speculators
                    are warned not to mistake an inescapable downward spiral for a bargain hunting
                    opportunity.
                </p>

                <p>
                    On the subject of which, we can observe a few rising stars
                    standing out from the gloom. The plucky boroughs of Tower Hamlets and Lewisham
                    appear to be most likely to enjoy an influx of arriviste chic and will end a
                    decade of up-and-coming dynamism with growth rates of 43% and 45% respectively.
                    It appears that proximity to the City of London will do nothing to dampen the
                    spirits of buyers and sellers in these areas. In the case of Tower Hamlets, we
                    may be observing an eastward drift away from the traditional corporate and
                    business centre of the City towards Canary Wharf. The rapid pace of
                    redevelopment of residential housing that has been the partner of the rise of
                    the Wharf surely has done much to improve perceptions of this formerly
                    destitute borough. Lewisham meanwhile is something more of a conundrum. Perhaps
                    we are seeing the spill-over effect of impossibly unaffordable prices and
                    unwavering demand that has seen Hammersmith and Fulham receive a trickle down
                    of demand that cannot be satisfied in Chelsea. Whatever the reason, Lewisham is
                    forecast to enjoy healthier growth in residential property values compared to
                    any other London Borough, at least until 2029.
                </p>

                <p>
                    Finally, what general trends can we draw from these several
                    observations? Firstly, whatever the economic weather, it appears nothing can
                    arrest the essentially linear growth in value of the most affluent areas. As an
                    aside it does appear that the most recent up-and-comer, Hackney, has now
                    officially “arrived” as this borough shakes off its formerly explosive growth
                    to continue a typical linear pattern.
                </p>

                <p>
                    The abrupt rejuvenation most typified by Islington appears
                    to be a path enjoyed only by a few and in fact the self-defeating cycle of
                    inner-city poverty continues to be as unending as it is unendurable.
                </p>

                <p>
                    The business and corporate culture that was formerly drawn
                    toward the City of London has been irrevocably soured and it remains to be seen
                    whether the City's reputation will be restored during this generation or the next.
                </p>

                <p>
                    Regardless of what the future brings the London property
                    market will continue to be a rewarding vehicle of investment for those able to
                    choose wisely, or those lucky enough to benefit from simply continuing on as if
                    nothing was happening outside of their own four walls.
                </p>


                <strong>James Smith 17/11/2019</strong>

                <br />

                <small>
                    Any opinions expressed are solely that of the author and do
                    not constitute financial advice.
                </small>
            </div>        </div>
    </div>