<h3>Sources</h3>


<ul id="sources">
    <li><a href="https://www.gov.uk/government/statistical-data-sets/uk-house-price-index-data-downloads-july-2019">HM Land Registry House Price Index</a></li>

    <li><a href="https://www.bankofengland.co.uk/statistics/visual-summaries/quoted-household-interest-rates">Bank of England Quoted Household Interst Rates</a></li>

    <li><a href="https://data.london.gov.uk/dataset/land-area-and-population-density-ward-and-borough">GLA Land Area and Population Density</a></li>

    <li><a href="https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/populationestimatesforukenglandandwalesscotlandandnorthernireland">ONS Estimates of the population for the UK, England and Wales, Scotland and Northern Ireland</a></li>

    <li><a href="https://www.ons.gov.uk/economy/grossvalueaddedgva">ONS Gross Value Added</a></li>

    <li><a href="https://arxiv.org/ftp/arxiv/papers/1802/1802.08238.pdf">Gu, Yiyang: "What are the most important factors that influence the changes in London Real Estate Prices? How to quantify them?"</a></li>

</ul>